/RemoteCtl/.vs
/RemoteCtl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtl/RemoteCtl/RemoteCtl.vcxproj.user
/RemoteCtl/RemoteCtl/x64/Debug
/RemoteCtl/RemoteClient/x64/Debug
/RemoteCtl/x64/Debug
/RemoteCtl/RemoteCtl/RemoteCtl.aps
